.main {
  width: 408px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #000000;
  padding: 2rem 0;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.main h1 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.main h2 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 0.75rem;
}

.main p {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
  margin-bottom: 1rem;
}

.main p span {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #666666;
}
